
* {
    font-family: Arial, Verdana, sans-serif;
	color: #665544;
	text-align: center;
  }

body {
   width: 90%;
   margin: 0 auto;
  } 
   
#content {
   overflow: auto;
  } 
	
#nav, #banner, #footer {
	margin: 1%;
  }
  
#banner {
    height: 10em;
	  margin-bottom: 1em;
	  background-image: url('../images/color-theory-banner.svg'); /* Path to your SVG file */
    background-size: cover; /* Adjust as needed */
    background-repeat: no-repeat; /* Prevents repeating */
    background-position: center; /* Centers the background image */
	  border: .2em solid blue;
  }
  
h1 {
    color: grey;
  }
  
.row {
	margin: 1%
  } 
	
.column1, .column2, .column3 {
    width: 30%;
    float: left;
    margin: 1%;
	border: .2em solid blue;
    border-radius: .8em;
    -moz-border-radius: .8em;
    -webkit-border-radius: .8em;
  }
  
.column3 {
    margin-right: 0%;
  }

li {
    display: inline;
	padding: 0.5em;
  }

#nav, #footer {
    background-color: #efefef;
	padding: 0.5em 0;
  }


.article {
    height: 10em;
	margin-bottom: 1em;
	background-color: #efefef;
  }